@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.bg-primary-light {
  background-color: rgba(13, 110, 253, 0.3) !important;
}

.bg-success-light {
  background-color: rgba(25, 135, 84, 0.3) !important;
}

.bg-danger-light {
  background-color: rgba(220, 53, 69, 0.3) !important;
}

.bg-warning-light {
  background-color: rgba(255, 193, 7, 0.3) !important;
}

.bg-info-light {
  background-color: rgba(13, 202, 240, 0.3) !important;
}

.bg-dark-light {
  background-color: rgba(33, 37, 41, 0.3) !important;
}

.modal.fade .modal-dialog {
  transition: transform 0.1s ease-out, opacity 0.1s ease-out !important;
}

.hover-white:hover {
  color: white !important;
}

.table-cell-wrap {
  word-break: break-word; 
  white-space: normal;
}